/*td, table, div {*/
/*    border: 1px solid black;*/
/*}*/

html,
body {
    height: 100%;
    background: #222;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#titleversion {
    display: flex;
    align-items: baseline;
}

#title {
    margin-right: 5px;
    font-size: xx-large;
    margin-left: 5px;
}

#headerrow {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 auto;

}

#tabrow {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
}

#contentrow {
    flex: 1 1 auto;
    display: flex;

}

#options, #languageMenuCell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#filesDropdown {
    color: #222;
    border-style: none;
    font-size: medium;
    padding: 5px 5px 0 5px;
    background-color: #fff;
    border-radius: 0;
}

#content_area {
    flex: 4 1 auto;
}

#textarea {
    display: flex;
    flex: 1 1 auto;
}

#codeTextArea {
    flex: 1 1 auto;
    resize: none;
    margin: 0;
    border: none;
    border-top-style: solid;
    border-top-color: #999;
    border-top-width: thin;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    color: #ddd;
    font-size: medium;
}

#codeTextArea:focus, #languageMenu:focus, #filesDropdown:focus {
    outline: none !important;
}

#languageMenu {
    border-style: none;
    background: #222;
    color: white;
}

#filestab {
    display: flex;
    flex-wrap: nowrap;

}

#changefilebutton {
    padding: 0 5px 0 5px;
    margin: 0 20px 0 0;
    background-color: #3366cc;
}

#changefilebutton:hover {
    background-color: #6598fe;
}

#file {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #3366cc;
    border-style: none;
    font-size: medium;
    padding: 5px 5px 0 5px;
}

.menuButton {
    font-family: 'Open Sans', sans-serif;
    margin-right: 1px;
    color: #fff;
    background: transparent;
    border-style: none;
    font-size: medium;
    padding: 0 10px 0 10px;
}

.tabbuttonon {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #1b7a2a;
    border-style: none;
    font-size: medium;
    padding: 5px 10px 0 10px;
}

.menuButton:hover {
    background: #ddd;
    color: #222;
}

.tabbuttonoff {
    font-family: 'Open Sans', sans-serif;
    background: #ddd;
    color: #222;
    border-style: none;
    font-size: medium;
    margin-left: 4px;
    padding: 5px 10px 0 10px;
}

.tabbuttonoff:hover, .menuButton:hover {
    background: #666;
    color: white;
}

#filesDropdown:hover, #languageMenu:hover {
    outline: none;
    background: #666;
    color: white;
}
