/*td, table, div {*/
/*    border: 1px solid black;*/
/*}*/
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #ddd;
    font-family: sans-serif;
    overflow: hidden;
}

/*ids*/
#title {
    color: black;
    font-weight: normal;
    font-size: 140%;
}
#tabletabs {
    width: 100%;
}
#mainTable {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
#blocklyDiv {
    position: absolute;
}
#blocklyrow {
    height: 100%;
}
#codeTextArea {
    height: 97%;
    width: 99%;
    resize: none;
}
#languageMenuCell {
    display: flex;
    justify-content: right;
}
#fileDropDownButton{

}
#tabrow {
}
#tabfile {
    border-bottom-color: #ddd !important;
    background-color: #43a252;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
#headerandoptions {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    align-content: flex-end;
}
#titleRow {
}
#header {
    display: flex;
    flex-wrap: nowrap;
}
#version {
    display: flex;
    align-content: center;
}
#options {
    display: flex;
    flex-wrap: nowrap;

}
#codeCell {
    /*height: 50%;*/
    height: 100%
}

/*Classes*/
.headerColumn {
    padding-left: 3px;
    padding-right: 3px;
}
.leftColumn {
    width: 60%;
}
.rightColumn {
    width: 40%;
}
.menuButton {
    margin: 3px;
}
.tabon {
    text-align: center;
    width: 10%;
    color: white;
    border-bottom-color: black !important;
    background-color: #3366cc;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
.taboff {
    width: 80%;
    border-bottom-color: #ddd !important;
    background-color: #bbb;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
.taboff:hover {
    background-color: #eee;
}


