/*td, table, div {*/
/*    border: 1px solid red;*/
/*}*/

a {
    color: #43c9fa;
}

html,
body {
    height: 100%;
    background: #222;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#titleversion {
    display: flex;
    align-items: baseline;
}

#title {
    margin-right: 5px;
    font-size: xx-large;
    margin-left: 5px;
}

#headerrow {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 auto;

}

#tabrow {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
}

#contentrow {
    flex: 1 1 auto;
    display: flex;

}

#options, #languageMenuCell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#content_area {
    flex: 4 1 auto;
}

#textarea {
    display: flex;
    flex: 1 1 auto;
}

#codeTextArea {
    flex: 1 1 auto;
    resize: none;
    margin: 0;
    border: none;
    border-top-style: solid;
    border-top-color: #999;
    border-top-width: thin;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    color: #ddd;
    font-size: medium;
}

#codeTextArea:focus, #languageMenu:focus, #fileNametextarea:focus {
    outline: none !important;
}

#languageMenu {
    border-style: none;
    background: #222;
    color: white;
}

#filestab {
    display: flex;
}


#fileNameSubmit {
    /*padding: 0 5px 2px 5px;*/
    margin: 0;
    font-size: large;
    background-color: #3366cc;
}

#fileNameSubmit:hover {
    background-color: #5b8ef4;
}

#file {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #3366cc;
    border-style: none;
    font-size: medium;
    align-items: center;
    padding: 0 5px 0 5px;
}

#file:hover {
    cursor: default;
}

#languageMenu:hover {
    outline: none;
    background: #666;
    color: white;
}

.dropdownoption {
    margin-top: 2px;
    margin-bottom: 2px;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
}

.dropdown, .filedropdown {
    position: relative;
    display: inline-block;
}

.dropdownmodal {
    /*blockly z-index is 70*/
    z-index: 100;
    background-color: #444;
    color: white;
    display: none;
    position: absolute;
    /*min-width: 150px;*/
    padding: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #aaa;
}

.filedropdown:hover .dropdownmodal {
    white-space: nowrap;
    display: flex;
    flex-flow: column;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownmodal {
    display: flex;
}

.dropdownoption:hover {
    /*background-color: #666;*/
    /*color: #222;*/
    cursor: default;
}

.fileName {
    display: flex;
    align-items: center;
    color: white;
    font-size: medium;
    border: none;
    margin-right: 5px;
}

#fileNametextarea {
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: medium;
    width: 150px;
    line-height: 1;
    overflow: hidden;
    padding-left: 4px;
    margin: 0;
}

#fixfiledropdown {
    background-color: white;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.fileDropdownButton {
    font-family: 'Open Sans', sans-serif;
    margin-right: 1px;
    color: #222;
    background: transparent;
    border-style: none;
    font-size: medium;
    padding: 0 10px 0 10px;
}

.menuButton {
    font-family: 'Open Sans', sans-serif;
    margin-right: 1px;
    color: #fff;
    background: transparent;
    border-style: none;
    font-size: medium;
    padding: 0 10px 0 10px;
}

.tabdivon {
    margin-left: 5px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #1b7a2a;
    border-style: none;
    font-size: medium;
    /*padding: 5px 5px 0 5px;*/
}

.tabdivoff {
    margin-left: 5px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background: #ddd;
    color: #222;
    border-style: none;
    font-size: medium;
}

.tabbuttonon {
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
}

#newFileButton:hover {
    cursor: default;
}

.menuButton:hover {
    background: #ddd;
    color: #222;
    cursor: pointer;
}


.tabbuttonoff {
    background-color: transparent;
    border-style: none;
    color: #222;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.tabbuttonoff:hover, .menuButton:hover, .tabdivoff:hover {
    background: #666;
    color: white;
}


