/*td {*/
/*    border: 1px solid black;*/
/*}*/
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}
h1 {
    font-weight: normal;
    font-size: 140%;
}
table {
    height: 100%;
    width: 100%;
}
#blocklyDiv {
    position: absolute;
}
#codeCell {
    height: 99%;
    width: 20%;
}
#codeArea {
    height: 97%;
    width: 97%;
}
.tabmax, .farSide {
    text-align: right;
}
