html, body {
    margin: 0;
}

.ioLabel > .blocklyFlyoutLabelText {
    font-style: italic;
}

.playgroundToggleOptions {
    list-style: none;
    padding: 0;
}

.playgroundToggleOptions li {
    margin-top: 1em;
}

.zelos-renderer .blocklyFlyoutButton .blocklyText {
    font-size: 1.5rem;
}
